.uHolder {
    width: 100%;
    position: relative;
    /* position: fixed; */
    /* min-width: 80%; */
    /* padding-left: 200px; */
    /* margin-left: 200px; */
    /* display: flex;
    flex-direction: row; */
    /* border: 5px solid salmon; */
}

.uText {
    padding-top: 60px;
    padding-bottom: 60px;
    /* padding-left: 200px; */
    font-size: 40px;
    font-family: "Roboto";
    font-weight: 500;
    /* z-index: -1; */
    /* border: 2px solid red; */
}

.uLine {
    position: relative;
    border-bottom: 1px solid rgb(240, 240, 240);
    /* margin-left: 200px; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    z-index: -1;
    /* border: 10px solid maroon; */
}