
#modal-comments {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* z-index: 99;  */
    /* you may have other elements with z-index, this one should be the highest
     in order to be on top of the whole UI */
}
#modal-background-comments {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }
  
  #modal-content-comments {
    position: absolute;
    background-color: white;
    /* border: 2px solid gray; */
    border: 2px solid rgb(240, 240, 240);
    border-radius: 0px;
    
    top: 80px;
    right: 50px;

    width: 30%;
    /* height: 80%; */
    height: 20%;
    z-index: 10;
  }