
.sP4 {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    width: 100%;
}
.sLine {
    /* display: flex;
    flex-direction: row;
    justify-content: left; 
    align-items: left; */
    display: block;

    text-align: left;
    width: 100%;
    top: 0;
    left: 0;
    /* border: 5px solid red; */
    border-bottom: 1px solid rgb(240, 240, 240);
    z-index: -1;
}

.sTitle {
    font-family: 'Roboto';
    font-weight:  700;
    font-size: 20px;
    padding-bottom: 10px;
    cursor: pointer;
}

.sContent {
    cursor: pointer;
    font-family: 'Merriweather';
    font-size: 16px;
    line-height: 1.6;
    font-weight: 300;
    /* overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; */
    height: 80px;
    /* border: 1px solid red; */

    display: -webkit-box;
    overflow : hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical; 
}

.sPhotoLine {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 10px;
}
.sUserDot {
    height: 25px;
    width: 25px;
    background-color: purple;
    border-radius: 50%;
    font-family: "Roboto";
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    /* border: 1px solid red; */
}
.sUserDot2 {
    height: 25px;
    width: 25px;
    min-height: 25px;
    min-width: 25px;
    /* background-color: purple; */
    border-radius: 50%;
    font-family: "Roboto";
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    /* border: 1px solid red; */
}
#sNormal {
    cursor: default
}
.sName {
    padding-top: 4px;
    padding-left: 10px;
    font-family: "Roboto";
    font-size: 15px;
    cursor: pointer;
}
.sDot {
    padding-top: 4px;
    padding-left: 6px;
    font-family: "Roboto";
    font-size: 15px;
    color: gray;
}
.sDate {
    padding-top: 4px;
    padding-left: 6px;
    font-family: "Roboto";
    font-size: 15px;
    font-weight: 400;
    color: gray;
}

.zParent {
    display: flex;
    flex-direction: row;
    width: 100%;
    /* border: 1px solid red; */
}

.zParent2 {
    /* border: 2px solid purple; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 65%;
    /* padding-left: 0px; */
    padding-left: 100px;
}

.zP3 {
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
    width: 100%;
}
.zP4 {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    width: 100%;
    /* min-width: 50%; */
    /* border: 5px solid red; */
}
.sContentHolder {
    /* width: 60%; */
    /* display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; */
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: left;
    /* border: 4px solid red; */
    width: 100%;
    /* padding-left: 80px; */
    /* display: flex;
    flex-direction: column;
    align-items: left; */

    /* display: flex;
    flex-direction: row;
    align-items: center; */
    /* padding-left:  100px; */
}
.zPhoto {
    /* display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center; */
    margin: auto;
    position: relative;
    
    min-width: 120px;
    max-width: 120px;
    /* width: 160px; */
    height: 120px;
    /* border: 1px dotted blue; */
    margin-left: 10px;
    margin-right: 10px;
    z-index: -1;
}
.sHolder {
    
    /* height: 100px; */
}

.sPad1 {
    padding-bottom: 20px;
}